<h1>Listing clusters</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Prosumers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clusters.each do |cluster| %>
      <tr>
        <td><%= cluster.name %></td>
        <td><%= cluster.description %></td>
        <td><%= render(partial: "prosumers/prosumername", spacer_template: "common/comma_spacer", collection: cluster.prosumers, as: :prosumer) || "No Prosumers" %></td>
        <td><%= link_to 'Show', cluster,class: 'btn btn-success btn-xs' %></td>
		<td><%= link_to 'Edit', edit_cluster_path(cluster) ,class: 'btn btn-info btn-xs'%></td>		       
        <td><%= link_to 'Destroy', cluster, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cluster', new_cluster_path,class: 'btn btn-default btn-xs' %>
