<h1>Listing clusters</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clusters.each do |cluster| %>
      <tr>
        <td><%= cluster.name %></td>
        <td><%= cluster.description %></td>
        <td><%= link_to 'Show', cluster %></td>
        <td><%= link_to 'Edit', edit_cluster_path(cluster) %></td>
        <td><%= link_to 'Destroy', cluster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cluster', new_cluster_path %>
