<p>
  <strong>Name:</strong>
  <%= @cluster.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cluster.description %>
</p>

<strong>Cluster members:</strong>

<table>
  <tbody>
  <%= render partial: "prosumers/removefromcluster", collection: @cluster.prosumers, as: :prosumer %>
  </tbody>
</table>
<br/>
<%= render partial: "addprosumer"%>
<br/>
<%= render partial: "charts/chart", :locals => {:stream => "/stream/#{@cluster.id}/clusterfeed", :provider => @cluster} %>
<br/>

<td><%= link_to 'Edit',edit_cluster_path(@cluster),class: 'btn btn-info btn-xs' %></td> |
<td><%= link_to 'Back', clusters_path ,class: 'btn btn-warning btn-xs'%> </td>
