<%= form_for(setup_prosumer(@prosumer)) do |f| %>
  <% if @prosumer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prosumer.errors.count, "error") %> prohibited this prosumer from being saved:</h2>

      <ul>
      <% @prosumer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :cluster_id %><br>
    <%= collection_select(:prosumer, :cluster_id, Cluster.all, :id, :name, :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :users %><br>
    <%= select_tag "users", 
            options_from_collection_for_select(User.all, 
                'id', 'email', @prosumer.users.map{ |j| j.id }), 
                :multiple => true, :prompt => "Please select" %>
  </div>
  <div>
    <%= f.label :energy_types %>
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>&nbsp;&nbsp;&nbsp;</th>
          <th>Capacity</th>
        </tr>
      </thead>
      <tbody>
      <%= f.fields_for :energy_type_prosumers do |ff| %>
        <tr>
          <td><%= ff.label :_destroy, ff.object.energy_type.name %></td>
          <td>&nbsp;&nbsp;<%= ff.check_box :_destroy,
                     {:checked => ff.object.persisted?},
                     '0', '1' 
              %>&nbsp;&nbsp;</td>
          <td><%= ff.text_field :power, disabled: !ff.object.persisted? %>
              <%= ff.hidden_field :energy_type_id %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
  $(function(){
    $("[id^=prosumer_energy_type_prosumers_attributes_][id$=__destroy]").click(function() {
      var id = this.id.match(/\d+/); 
      $("#prosumer_energy_type_prosumers_attributes_"+id+"_power").attr('disabled', !this.checked);
    });
  });
</script>

