<h1>Listing prosumers</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Cluster</th>
      <th>Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prosumers.each do |prosumer| %>
        <td><%= prosumer.name %></td>
        <td><%= prosumer.location %></td>
        <td><%= link_to prosumer.cluster.name, prosumer.cluster unless prosumer.cluster.nil?  %></td>
        <td><%= render(partial: "users/username", spacer_template: "common/comma_spacer", collection: prosumer.users, as: :user) || "No users" %></td>
        <td><%= link_to 'Show', prosumer ,class: 'btn btn-success btn-xs'%></td>
        <td><%= link_to 'Edit', edit_prosumer_path(prosumer) ,class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', prosumer, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prosumer', new_prosumer_path,class: 'btn btn-default btn-xs' %>
