<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">Prosumers</h3>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Prosumer locations
      </div>
      <div class="panel-body">
        <%= render partial: "charts/map", 
          :locals => {
            :prosumers => Prosumer.with_locations 
          }
        %>
      </div>
    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>


<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Available Prosumers
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="dataTables-prosumers">
            <thead>
              <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Cluster</th>
                <th>Building Type</th>
                <th>Connection Type</th>
                <th>Users</th>
                <th>Energy Type</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>

              <% @prosumers.each do |prosumer| %>
              <tr>
                <td><%= prosumer.name %></td>
                <td><%= prosumer.location %></td>
                <td><%= link_to prosumer.cluster.name, prosumer.cluster unless prosumer.cluster.nil?  %></td>
                <td><%= link_to prosumer.building_type.name, prosumer.building_type unless prosumer.building_type.nil? %></td>
                <td><%= link_to prosumer.connection_type.name, prosumer.connection_type unless prosumer.connection_type.nil? %></td>
                <td><%= render(partial: "users/username", spacer_template: "common/comma_spacer", collection: prosumer.users, as: :user) || "No users" %></td>
                <td><%= render(partial: "energy_type_prosumers/short", spacer_template: "common/comma_spacer", collection: prosumer.energy_type_prosumers, as: :energy_type_prosumer) || "No power" %></td>
                <td><%= link_to 'Show', prosumer ,class: 'btn btn-success btn-xs'%></td>
                <td><%= link_to 'Edit', edit_prosumer_path(prosumer) ,class: 'btn btn-info btn-xs' %></td>
                <td><%= link_to 'Destroy', prosumer, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-xs' %></td>

              </tr>
              <% end %>

            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
        <%= link_to 'New Prosumer', new_prosumer_path, class: 'btn btn-default btn-xs' %>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<br>
