<p>
	<strong>Name:</strong>
	<%= @prosumer.name %>
</p>

<p>
	<strong>Location:</strong>
	<%= @prosumer.location %>
</p>

<p>
	<strong>Cluster:</strong>
	<%= link_to(@prosumer.cluster.name, @prosumer.cluster) if @prosumer.cluster %>
</p>

<p>
	<strong>Users:</strong>
	<%= render(partial: "users/username", spacer_template: "common/comma_spacer", collection: @prosumer.users, as: :user) || "No users" -%>
</p>

<p>
  <strong>Power capacity</strong>
  <%= render(partial: "energy_type_prosumers/short", 
             spacer_template: "common/comma_spacer", 
             collection: @prosumer.energy_type_prosumers, 
             as: :energy_type_prosumer) || "No entry" %>
</p>

<%= render partial: "charts/chart", :locals => {:stream => "/stream/#{@prosumer.id}/prosumer", :provider => @prosumer} %>

<p>
	<strong>Day-ahead forecasts:</strong>
	<%= render(partial: "day_aheads/date", spacer_template: "common/comma_spacer", collection: @prosumer.day_aheads, as: :day_ahead) || "No forecasts" %>
</p>


<td><%= link_to 'Edit', edit_prosumer_path(@prosumer) ,class: 'btn btn-info btn-xs' %></td>  |
<td><%= link_to 'Back', prosumers_path ,class: 'btn btn-warning btn-xs'%></td>
