<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prosumer.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @prosumer.location %>
</p>

<p>
  <strong>Cluster:</strong>
  <%= link_to(@prosumer.cluster.name, @prosumer.cluster) if @prosumer.cluster %>
</p>

<p>
  <strong>Users:</strong>
  <%= render(partial: "users/username", spacer_template: "common/comma_spacer", collection: @prosumer.users, as: :user) || "No users" %>
</p>


<%= render partial: "charts/chart", :locals => {:stream => "/stream/#{@prosumer.id}/realtime", :prosumer => @prosumer} %>

<%= link_to 'Edit', edit_prosumer_path(@prosumer) %> |
<%= link_to 'Back', prosumers_path %>
