<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @bid.date %>
</p>

<p>
  <strong>Mo:</strong>
  <%= @bid.mo_id %>
</p>

<p>
  <strong>status:</strong>
  <%= @bid.status %>
</p>


<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
