<%= form_for(@day_ahead, html: {class: "form-horizontal"}) do |f| %>
  <% if @day_ahead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day_ahead.errors.count, "error") %> prohibited this day_ahead from being saved:</h2>

      <ul>
      <% @day_ahead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :prosumer_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= collection_select(:day_ahead, :prosumer_id, Prosumer.all, :id, :name, {:include_blank => false}, {class: "form-control"} ) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :date, {with_css_classes: true}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
