<%= form_for(@day_ahead) do |f| %>
  <% if @day_ahead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day_ahead.errors.count, "error") %> prohibited this day_ahead from being saved:</h2>

      <ul>
      <% @day_ahead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prosumer_id  %><br>
    <%= collection_select(:day_ahead, :prosumer_id, Prosumer.all, :id, :name, :include_blank => false) %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
