<p>
	<strong>Prosumer:</strong>
	<%= render(partial: "prosumers/prosumername", :locals => { :prosumer => @day_ahead.prosumer}) || "No Prosumers" %>
</p>

<p>
	<strong>Date:</strong>
	<%= @day_ahead.date %>
</p>


<div>
	<div id="placeholder" style="width:100%;height:400px;min-width=600px" />
</div>

<%= link_to 'Edit', edit_day_ahead_path(@day_ahead) %> |
<%= link_to 'Back', day_aheads_path %>

<script>
	$(function(){
	  <% 
	     startdate =  DateTime.parse(@day_ahead.date.to_s)
	     
	     
	     puts "= =============== Startdate : #{startdate}"
	     enddate = startdate + 21.hours
	  %>
	  
	  
		var prod = <%= @day_ahead.day_ahead_hours.map {|dah| [ (startdate - ActiveSupport::TimeZone['Europe/Athens'].utc_offset.seconds + dah.time.hours).to_i * 1000, dah.consumption] }.to_json.html_safe %>;
		var idata = <%= @day_ahead.prosumer.request_cached(2, startdate , enddate).to_json.html_safe %>;
		
		console.log("prod:", prod);
    console.log("idata:", idata);
		
		dataset = [{
		  "label": "Day ahead consumption forecast",
			"data" : prod 
		}];
		
    var data = plotHelper.readData(idata, "consumption", false);
    
    var daf = {};
    
    $.each(prod, function(i, d) {
      daf[d[0]] = d;
    });
    
    data["day ahead forecast"] = daf;
    
    plotHelper.drawChart("<%= "/stream/#{@day_ahead.prosumer.id}/prosumer?startdate=#{startdate}&enddate=#{enddate}&interval=2" %>",data, "consumption", false);
    console.log("data:", data);
 	});
</script>

