<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :prosumers %><br>
    <%= select_tag "prosumers", 
            options_from_collection_for_select(Prosumer.all, 
                'id', 'name',@user.prosumers.map{ |j| j.id }), 
                :multiple => true, :prompt => "Please select" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
