<h1>Listing users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Roles</th>
      <th>Prosumers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= render(partial: "roles/rolename", spacer_template: "common/comma_spacer", collection: user.roles, as: :role)  || "No roles" %></td>
      <td><%= render(partial: "prosumers/prosumername", spacer_template: "common/comma_spacer", collection: user.prosumers, as: :prosumer) || "No Prosumers" %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
