<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Roles:</strong>
  <%= render partial: "roles/rolename", spacer_template: "common/comma_spacer", collection: @user.roles, as: :role %>
</p>

<p>
  <strong>Prosumers:</strong>
  <%= @user.prosumers %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
