<p>
  <strong>Email:</strong> 
  <%= @user.email %>
</p>

<p>
  <strong>Roles:</strong>
  <%= render(partial: "roles/rolename", spacer_template: "common/comma_spacer", collection: @user.roles, as: :role) || "No roles"  %> 
</p>

<p>
  <strong>Prosumers:</strong>
  <%= render(partial: "prosumers/prosumername", spacer_template: "common/comma_spacer", collection: @user.prosumers, as: :prosumer) || "No Prosumers" %>  
</p>


<td><%= link_to 'Edit',edit_user_path(@user),class: 'btn btn-info btn-xs' %></td> |
<td><%= link_to 'Back', users_path ,class: 'btn btn-warning btn-xs'%> </td>