            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <div class="input-group">
                    <%= label_tag "Name:", nil, class: "control-label" %>
                    <%= text_field_tag "clusternames[]", cl.name, {class: "form-control"} %>
                  </div>
                  <div class="input-group"> 
                    <%= label_tag "Description:", nil, class: "control-label" %>
                    <%= text_field_tag "clusterdescriptions[]", cl.description, {class: "form-control"} %>
                   </div>
                  <div class="input-group">
                    <%= label_tag "Prosumers:", nil, class: "control-label" %>
                    <ul class="list-inline connectedSortable", id="<%= "prosummer_list_#{cl_counter}" -%>" >
                      <% cl.prosumers.each do |p| %>
                        <li id="<%= "prosumer_#{p.id}" -%>"><%= p.name -%><div style="visibility: hidden;"><%= p.id -%></div></li>
                      <% end %>
                    </ul>
                    
                  </div>
                  
                  <%= hidden_field_tag "clusterprosumers[]", cl.prosumers.map {|p| p.id}.join(","), id: "hidden_#{cl_counter}" %>
                  <%= hidden_field_tag "clusterids[]", cl.id %>
                </div>
              </div>  
              <div class="col-md-4">
                <div id="<%= "chart_#{cl_counter}" -%>" style="height: 200px;width:300px" ></div>
              </div>  
              <hr/>
            </div>