<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header"><small>Automatic Clustering:</small> Select Algorithm</h3>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        select algorithms
      </div>
      <div class="panel-body">
        <%= form_tag "/clustering/confirm", class: "form-horizontal" do %>
          <div class="form-group">
            <%= label_tag :algorithm, nil, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
              <%= select_tag "algorithm", options_for_select(algorithms.collect {|p| [ p[:name], p[:string] ] }), {class: "form-control"} %>
            </div>
          </div>
          <div id="k_parameter" class="form-group">
            <%= label_tag :kappa, nil, class: "col-sm-2 control-label"  %>
            <div class="col-sm-10">
              <%= text_field_tag :kappa, 5, class: 'form-control'  %>
            </div>
          </div>
          <div class="actions">
            <%= submit_tag "Select", class: "btn btn-primary" %>
          </div>
          <script>
            $(function(){
              var selected = $("#algorithm").find('option:selected').val();
              if (selected != "location" && selected != "dr") {
                $("#k_parameter").hide();
              }
              $("#algorithm").change(function() {
                var selected = $(this).find('option:selected').val();
                if (selected == "location" || selected == "dr") {
                  $("#k_parameter").show();
                } else {
                  $("#k_parameter").hide();
                }
              });
            });
          </script>
        <% end %>      
      </div>
    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>

