<%= javascript_include_tag "chart" %>

<% startDate = (DateTime.now - 7.days)
   endDate = DateTime.now 
 %>

<div>
  <div id="controls">
    <input id="startDate" type="text" value="<%= startDate %>"/>
    <input id="endDate" type="text" value="<%= endDate %>"/> 
    <strong>Real-time updates?</strong>
    <input id="realtime" type="checkbox" checked>
    <select id="type">
      <option value="production">Production</option>
      <option value="consumption" selected="true">Consumption</option>
      <option value="storage">Storage</option>
    </select>
    <%= collection_select(:interval, :interval_id,
                          Interval.all.order("duration asc"), :id, :name,
                          {include_blank: false, :selected => "3"}) %>
    <strong>Forecast?</strong>
    <input id="forecast" type="checkbox">
    <button id="subDates"> Set </button>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-10">
      <div class="row" id="placeholder" style="width:100%;height:400px;min-width=600px"></div>
      <div class="row" id="vio_div" style="display: none;">
        <hr/>
        <table id="violations" class="table">
          <thead>
          <th>Date</th>
          <th>Actual</th>
          <th>Forecast</th>
          <th>Status</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-2">
      <div id="legend" ></div>
    </div>
  </div>

</div>
<script>  
   
    var idata = <%= provider.request_cached(3, startDate, endDate).to_json.html_safe %>;
    $(function(){
        plotHelper.drawChart(
                "<%= stream %>", 
                plotHelper.readData(
                      idata, 
                      $('#type').val(),
                      $('#forecast').is(':checked')), 
                $('#type').val(), 
                $('#forecast').is(':checked'));
        $('#startDate').datetimepicker();
        $('#endDate').datetimepicker();
        $('#endDate').prop('disabled', true);
               
        $('#subDates').click(function () {
         
            var s = $('#startDate').val();
            var e = $('#endDate').prop("disabled") ? '' : $('#endDate').val();
            var interval= $('#interval_interval_id').val()
            
              
            var paramObj = {};
            
            if (s) {
              paramObj.startdate = s;
            }
            if (e) {
              paramObj.enddate = e;
            }
            if (interval) {
              paramObj.interval = interval;
            }
             
            var url = "<%= stream %>?" + $.param(paramObj);
            console.log("Conncting to stream: ", url);
            
            plotHelper.drawChart(url, {}, $('#type').val(), $('#forecast').is(':checked'));
      });
      $('#realtime').change(function () {
          if (this.checked) {
            $('#endDate').prop( "disabled", true );
          } else {
            $('#endDate').prop( "disabled", false );
          }
      });
    });
</script>

