<%= javascript_include_tag "chart" %>

<% startDate = (session[:startdate] || (DateTime.now - 7.days)).to_datetime
   endDate = (session[:enddate]|| DateTime.now).to_datetime
   interval = (session[:interval] || 3).to_i # Daily
 %>

<div class="panel panel-default">
  <div class="panel-heading">
    Prosumption Data
  </div>
  <div class="panel-body">

    <div>
      <div id="controls">
        <input id="startDate" type="text" value="<%= startDate.to_datetime.strftime("%Y/%m/%d %H:00") %>"/>
        <input id="endDate" type="text" value="<%= endDate.to_datetime.strftime("%Y/%m/%d %H:00") %>"/>
        <!--strong>Real-time updates?</strong>
        <input id="realtime" type="checkbox" checked-->
        <select id="type">
          <option value="prosumption" selected="selected">Prosumption</option>
          <option value="production">Production</option>
          <option value="consumption">Consumption</option>
          <option value="storage">Storage</option>
        </select>
        <%= collection_select(:interval, :interval_id,
                              Interval.all.order("duration asc"), :id, :name,
                              {include_blank: false, :selected => interval}) %>
        <strong>Forecast?</strong>
        <input id="forecast" type="checkbox">
        <button id="subDates"> Set </button>
        <button id="resetDates"> Reset filter </button>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-2 col-md-push-10">
          <div id="legend" ></div>
        </div>
        <div class="col-md-10 col-md-pull-2">
          <div class="row" id="placeholder" style="width:100%;height:400px;min-width=600px"></div>
          <div class="row" id="vio_div" style="display: none;">
            <hr/>
            <table id="violations" class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Actual</th>
                  <th>Forecast</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Energy Cost
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2 col-md-push-10">
          <div id="cost_legend" ></div>
        </div>
        <div class="col-md-10 col-md-pull-2">
          <div class="row" id="cost_placeholder" style="width:100%;height:400px;min-width=600px"></div>
          <div class="row" id="perc_div"> </div>
          <div class="row" id="costs_div" >
            <hr/>
            <table id="costs_table" class="table table-responsive">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Forecast</th>
                  <th>Ideal</th>
                  <th>real</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>

    var idata = <%= provider.request_cached(interval, startDate, endDate, @channel).to_json.html_safe %>;
    $(function(){

        console.log("Trying to download stream: <%= stream -%>");

        plotHelper.drawChart(
                "<%="#{stream}?channel=#{@channel}&startdate=#{startDate}&enddate=#{endDate}&interval=#{interval}"%>",
                plotHelper.readData(
                      idata,
                      $('#type').val(),
                      $('#forecast').is(':checked')),
                $('#type').val(),
                $('#forecast').is(':checked'));
        $('#startDate').datetimepicker();
        $('#endDate').datetimepicker();
        // $('#endDate').prop('disabled', true);
               
        $('#subDates').click(function () {
         
            var s = $('#startDate').val();
            var e = $('#endDate').prop("disabled") ? '' : $('#endDate').val();
            var interval= $('#interval_interval_id').val()
            
              
            var paramObj = {};
            
            if (s) {
              paramObj.startdate = s;
            }
            if (e) {
              paramObj.enddate = e;
            }
            if (interval) {
              paramObj.interval = interval;
            }

            paramObj.channel = '<%= @channel.html_safe %>';
             
            var url = "<%= stream %>?" + $.param(paramObj);
            console.log("Conncting to stream: ", url);
            
            plotHelper.drawChart(url, {}, $('#type').val(), $('#forecast').is(':checked'));
      });
      $('#resetDates').click(function () {

        $('#startDate').val("<%= (DateTime.now - 7.days).strftime("%Y/%m/%d %H:00") -%>");
        $('#endDate').val("<%= DateTime.now.strftime("%Y/%m/%d %H:00") -%>");
        $('#interval_interval_id').val(3);

        $('#subDates').click();
      });



      /*$('#realtime').change(function () {
          if (this.checked) {
            $('#endDate').prop( "disabled", true );
          } else {
            $('#endDate').prop( "disabled", false );
          }
      });*/
    });
</script>

