<%= javascript_include_tag "chart" %>

<% startDate = (params[:startdate] || session[:startdate] || (DateTime.now - 7.days)).to_datetime
   endDate = (params[:enddate] ||session[:enddate]|| DateTime.now).to_datetime
   interval = (params[:interval] || session[:interval] || 2).to_i # Daily
   type = (params[:type] || session[:type] || "prosumption")
   forecast = (params[:forecast] || session[:forecast] || "none")


  puts "@@@@@@@@ session start #{session[:startdate]}, startDate: #{startDate}, endDate: #{endDate} @@@@@@@@@@"

 %>

<div class="panel panel-default">
  <div class="panel-heading">
    Prosumption Data
  </div>
  <div class="panel-body">

    <div>
      <%= form_tag('#', id: "plot_params", remote: true, class: "form-inline") do %>
          <div class="form-group form-group-sm">
            <%= label_tag :startDate, "Start datetime:" %>
            <%= text_field_tag :startDate, startDate.to_datetime.strftime("%Y/%m/%d %H:00"), id: :startDate, class: 'form-control input-sm' %>
          </div>
          <div class="form-group form-group-sm">
            <%= label_tag :endDate, "End datetime:" %>
            <%= text_field_tag :endDate, endDate.to_datetime.strftime("%Y/%m/%d %H:00"), id: :endDate, class: 'form-control input-sm' %>
          </div>
          <%= select_tag "type",
                         options_for_select(
                             [["Prosumption", :prosumption],
                              ["Production", :production],
                              ["Consumption", :consumption],
                              ["Storage", :storage],
                              ["Flexibility", :dr],
                              ["Reliability", :reliability]],
                             selected: type),
                         class: 'form-control input-sm' %>
          <%= collection_select(:interval, :interval_id,
                                Interval.all.order("duration asc"),
                                :id,
                                :name,
                                {include_blank: false, :selected => interval},
                                class: 'form-control input-sm') %>
          <%= select_tag "forecast",
                         options_for_select(
                             [["No forecast", "none"],
                              ["EDMS forecast", "edms"],
                              ["FMS Dayahead forecast", :"FMS-D"]],
                             selected: forecast),
                         class: 'form-control input-sm' %>
          <input type="submit" value="Set" class="form-control input-sm btn btn-primary btn-xs">
          <button id="resetDates" class="form-control input-sm btn btn-info btn-xs"> Reset filter </button>
      <% end %>
      <br/>
      <div class="row">
        <div class="col-md-2 col-md-push-10">
          <div id="legend" ></div>
        </div>
        <div class="col-md-10 col-md-pull-2">
          <div class="row" id="placeholder" style="width:100%;height:400px;min-width=600px"></div>
          <div class="row" id="vio_div" style="display: none;">
            <hr/>
            <table id="violations" class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Actual</th>
                  <th>Forecast</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Energy Cost
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2 col-md-push-10">
          <div id="cost_legend" ></div>
        </div>
        <div class="col-md-10 col-md-pull-2">
          <div class="row" id="cost_placeholder" style="width:100%;height:400px;min-width=600px"></div>
          <div class="row" id="perc_div"> </div>
          <div class="row" id="costs_div" >
            <hr/>
            <table id="costs_table" class="table table-responsive">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Forecast</th>
                  <th>Ideal</th>
                  <th>real</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>

    var idata = <%= provider.request_cached(interval, startDate, endDate, @channel, forecasts: forecast).to_json.html_safe %>;

    var chart_func = function(stream_url){

        var count = 1;
        console.log("Trying to download stream: <%= stream -%>");

        plotHelper.drawChart(
                stream_url,
                plotHelper.readData(
                      idata,
                      $('#type').val(),
                      $('#forecast').val()),
                $('#type').val(),
                $('#forecast').val());

        // $('#endDate').prop('disabled', true);
               
        $('#plot_params').submit(function () {
         
            var s = (new Date($('#startDate').val())).toString();
            var e = $('#endDate').prop("disabled") ? '' : (new Date($('#endDate').val())).toString();
            var interval= $('#interval_interval_id').val();
            var type = $('#type').val();
            var forecast = $('#forecast').val();
            
              
            var paramObj = {};
            
            if (s) {
              paramObj.startdate = s;
            }
            if (e) {
              paramObj.enddate = e;
            }
            if (interval) {
              paramObj.interval = interval;
            }
            if (type) {
              paramObj.type = type;
            }
            if (forecast) {
              paramObj.forecast = forecast;
            }

            paramObj.channel = '<%= @channel.html_safe %>' + count++;
             
            var url = "<%= stream %>?" + $.param(paramObj);
            console.log("Conncting to stream: ", url);

            plotHelper.drawChart(url, {}, $('#type').val(), $('#forecast').val());
            return false;
      });
      $('#resetDates').click(function () {

        $('#startDate').val("<%= (DateTime.now - 7.days).strftime("%Y/%m/%d %H:00") -%>");
        $('#endDate').val("<%= DateTime.now.strftime("%Y/%m/%d %H:00") -%>");
        $('#interval_interval_id').val(2);
        $('#type').val("prosumption");
        $('#forecast').val("none");

        $('#subDates').click();
      });



      /*$('#realtime').change(function () {
          if (this.checked) {
            $('#endDate').prop( "disabled", true );
          } else {
            $('#endDate').prop( "disabled", false );
          }
      });*/
    };


    function GetURLParameter(sParam)
    {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++)
        {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam)
            {
                return decodeURIComponent((sParameterName[1]+'').replace(/\+/g, '%20'));
            }
        }
    }

    window.onpopstate = function() {

        var sDate = GetURLParameter("startdate");
        if (sDate) {
            $('#startDate').val(sDate);
        }
        var eDate = GetURLParameter("enddate");
        if (eDate) {
            $('#endDate').val(eDate);
        }
        var interval = GetURLParameter("interval");
        if (interval) {
            $('#interval_interval_id').val(interval);
        }
        var type = GetURLParameter("type");
        if (type) {
            $('#type').val(type);
        }
        var forecast = GetURLParameter("forecast");
        if (forecast) {
            $('#forecast').val(forecast);
        }

        var stream_url = "<%="#{stream}?#{ {channel: @channel}.to_query }".html_safe -%>" + $.param({startdate: sDate, enddate: eDate, interval: interval, type: type, forecast: forecast});
        console.log("TRying to connect to " + stream_url);
        chart_func(stream_url);
    };

    $(function() {
        $('#startDate').datetimepicker();
        $('#endDate').datetimepicker();

        var stream_url = "<%="#{stream}?#{ {channel: @channel, startdate: startDate, endDate: endDate, interval: interval, type: type, forecast: forecast}.to_query}".html_safe -%>";
        console.log("TRying to connect to " + stream_url);
        chart_func(stream_url);
    });
</script>

