<%= form_for @data_point, html: {class: "form-horizontal"} do |f| %>
  <% if @data_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_point.errors.count, "error") %> prohibited this data_point from being saved:</h2>

      <ul>
      <% @data_point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :prosumer_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= collection_select(:data_point, :prosumer_id,
                            Prosumer.all.order("name asc"), :id, :name,
                            {include_blank: false}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :interval_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= collection_select(:data_point, :interval_id,
                            Interval.all.order("duration asc"), :id, :name,
                            {include_blank: false}, {class: "form-control"}) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :timestamp, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :timestamp, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :production, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :production, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :consumption, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :consumption, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :storage, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :storage, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :f_timestamp, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :f_timestamp, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :f_production, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :f_production, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :f_consumption, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :f_consumption, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :f_storage, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :f_storage, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dr, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :dr, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :reliability, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :reliability, class: 'form-control' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
