<h1>Listing data_points</h1>

<table class="table">
  <thead>
    <tr>
      <th>Prosumer</th>
      <th>Interval</th>
      <th>Time</th>
      <th>Prod.</th>
      <th>Cons.</th>
      <th>Storage</th>
      <th>F&nbsp;time</th>
      <th>F&nbsp;prod.</th>
      <th>F&nbsp;cons.</th>
      <th>F&nbsp;storage</th>
      <th>Dr</th>
      <th>Reliability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_points.each do |data_point| %>
      <tr>
        <td><%= render partial: "prosumers/prosumername", :locals => { :prosumer => data_point.prosumer } %></td>
        <td><%= data_point.interval.name %></td>
        <td><%= data_point.timestamp %></td>
        <td><%= data_point.production.round(2) %></td>
        <td><%= data_point.consumption.round(2) %></td>
        <td><%= data_point.storage.round(2) %></td>
        <td><%= data_point.f_timestamp %></td>
        <td><%= data_point.f_production.round(2) %></td>
        <td><%= data_point.f_consumption.round(2) %></td>
        <td><%= data_point.f_storage.round(2) %></td>
        <td><%= data_point.dr.round(2) %></td>
        <td><%= data_point.reliability.round(2) %></td>
        <td><%= link_to 'Show', data_point %></td>
        <td><%= link_to 'Edit', edit_data_point_path(data_point) %></td>
        <td><%= link_to 'Destroy', data_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @data_points, renderer: BootstrapPagination::Rails %>
<br>

<%= link_to 'New Data point', new_data_point_path %>
