<h1>Listing data_points</h1>

<table class="table">
  <thead>
    <tr>
      <th>Prosumer</th>
      <th>Interval</th>
      <th>Timestamp</th>
      <th>Production</th>
      <th>Consumption</th>
      <th>Storage</th>
      <th>F timestamp</th>
      <th>F production</th>
      <th>F consumption</th>
      <th>F storage</th>
      <th>Dr</th>
      <th>Reliability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_points.each do |data_point| %>
      <tr>
        <td><%= data_point.prosumer_id %></td>
        <td><%= data_point.interval_id %></td>
        <td><%= data_point.timestamp %></td>
        <td><%= data_point.production %></td>
        <td><%= data_point.consumption %></td>
        <td><%= data_point.storage %></td>
        <td><%= data_point.f_timestamp %></td>
        <td><%= data_point.f_production %></td>
        <td><%= data_point.f_consumption %></td>
        <td><%= data_point.f_storage %></td>
        <td><%= data_point.dr %></td>
        <td><%= data_point.reliability %></td>
        <td><%= link_to 'Show', data_point %></td>
        <td><%= link_to 'Edit', edit_data_point_path(data_point) %></td>
        <td><%= link_to 'Destroy', data_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data point', new_data_point_path %>
