
<p>
  <strong>Prosumer:</strong>
  <%= render partial: "prosumers/prosumername", :locals => { :prosumer => @data_point.prosumer } %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @data_point.interval.name %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @data_point.timestamp %>
</p>

<p>
  <strong>Production:</strong>
  <%= round_or_null @data_point.production, 2 %>
</p>

<p>
  <strong>Consumption:</strong>
  <%= round_or_null @data_point.consumption, 2 %>
</p>

<p>
  <strong>Storage:</strong>
  <%= round_or_null @data_point.storage, 2 %>
</p>

<p>
  <strong>F timestamp:</strong>
  <%= @data_point.f_timestamp %>
</p>

<p>
  <strong>F production:</strong>
  <%= round_or_null @data_point.f_production, 2 %>
</p>

<p>
  <strong>F consumption:</strong>
  <%= round_or_null @data_point.f_consumption, 2 %>
</p>

<p>
  <strong>F storage:</strong>
  <%= round_or_null @data_point.f_storage, 2 %>
</p>

<p>
  <strong>Dr:</strong>
  <%= round_or_null @data_point.dr, 2 %>
</p>

<p>
  <strong>Reliability:</strong>
  <%= @data_point.reliability %>
</p>


<td><%= link_to 'Edit', edit_data_point_path(@data_point),class: 'btn btn-info btn-xs' %></td> |
<td><%= link_to 'Back', data_points_path ,class: 'btn btn-warning btn-xs'%> </td>

