<p>
  <strong>Timeslot:</strong>
  <%= @measurement.timeslot %>
</p>

<p>
  <strong>Power:</strong>
  <%= @measurement.power %>
</p>

<p>
  <strong>Prosumer id:</strong>
  <%= @measurement.prosumer_id %>
</p>

<p>
  <strong>Prosumer name:</strong>
  <%= link_to @measurement.prosumer.name, prosumer_path(@measurement.prosumer) %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
