<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">Instance Details</h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Configuration Details
      </div>
      <div class="panel-body">
	      <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label"> Generations </label>
            <label class="col-sm-3 control-label text-label"><%=  @input_params["generations"] %></label> 
          </div>
           <div class="form-group">
            <label class="col-sm-2 control-label"> Population size </label>
            <label class="col-sm-3 control-label text-label"><%=  @input_params["population_size"] %></label>  
          </div>
           <div class="form-group">
            <label class="col-sm-2 control-label"> Violation penalty </label>
            <label class="col-sm-3 control-label text-label"><%=  @input_params["penalty_violation"] %></label>
          </div>
           <div class="form-group">
            <label class="col-sm-2 control-label"> Satisfaction penalty </label>
            <label class="col-sm-3 control-label text-label"><%= @input_params["penalty_satisfaction"] %></label> 
          </div>
        </form>          
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Instance Results
      </div>
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#results" data-toggle="tab" aria-expanded="true"><i class="fa fa-terminal" aria-hidden="true"></i>&nbsp;Results</a></li>
          <li class=""><a href="#logging" data-toggle="tab" aria-expanded="false"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;Execution Logging</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade active in" id="results">
              result presentation here
          </div>
          <div class="tab-pane fade" id="logging">
            <code>
                <%= @results %>
            </code>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


                      

                       