<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Users:</strong>
  <%= render partial: "users/username", spacer_template: "common/comma_spacer", collection: @role.users, as: :user %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
