<%= form_for(@dr_target) do |f| %>
  <% if @dr_target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dr_target.errors.count, "error") %> prohibited this dr_target from being saved:</h2>

      <ul>
      <% @dr_target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :volume %><br>
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :timestamp %><br>
    <%= f.datetime_select :timestamp %>
  </div>
  <div class="field">
    <%= f.label :demand_response_id %><br>
    <%= f.text_field :demand_response_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
