<%= form_for(@forecast) do |f| %>
  <% if @forecast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forecast.errors.count, "error") %> prohibited this forecast from being saved:</h2>

      <ul>
      <% @forecast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prosumer_id %><br>
    <%= f.text_field :prosumer_id %>
  </div>
  <div class="field">
    <%= f.label :interval_id %><br>
    <%= f.text_field :interval_id %>
  </div>
  <div class="field">
    <%= f.label :timestamp %><br>
    <%= f.datetime_select :timestamp %>
  </div>
  <div class="field">
    <%= f.label :forecast_time %><br>
    <%= f.datetime_select :forecast_time %>
  </div>
  <div class="field">
    <%= f.label :production %><br>
    <%= f.text_field :production %>
  </div>
  <div class="field">
    <%= f.label :consumption %><br>
    <%= f.text_field :consumption %>
  </div>
  <div class="field">
    <%= f.label :storage %><br>
    <%= f.text_field :storage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
