<div id="wrapper toggled">
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
     <div class="navbar-header">
        <%= image_tag("vimsen_logo_small.png") %> <span class="navbar-header-text"> Virtual Microgrids for Smart Energy Networks </span> 
     </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right header-links">
         		<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <% if user_signed_in? %>
                            <li>Logged in as <strong><%= current_user.email %></strong></li> 
                            <li>
                                <%= link_to user_path(current_user) do %>
                                    <i class="fa fa-user fa-fw"></i> User profile
                                <% end %>
                            </li>                            
                            <li>
                                <%= link_to edit_user_registration_path do %>
                                    <i class="fa fa-gear fa-fw"></i>Settings 
                                <% end %>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to destroy_user_session_path, method: :delete do %> 
                                    <i class="fa fa-sign-out fa-fw"></i>Logout
                                <% end %> 
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Help</a>
                            </li>
                        <% else %>
                            <li><i class="fa fa-sign-up fa-fw"></i><%= link_to "Sign up", new_user_registration_path %>
                            </li>
                            <li><i class="fa fa-sign-up fa-fw"></i><%= link_to "Login", new_user_session_path %>
                            </li>  
                        <% end %>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                 <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
        </ul>
     </div>
    
<!--
    <div class="navbar-header">
      <%= image_tag("vimsen_logo_small.png") %> <span class="navbar-header-text"> Virtual Microgrids for Smart Energy Networks </span>
    </div>
    <div class="navbar-collapse collapse">
      <p class="navbar-header-text pull-right nav navbar-nav navbar-right header-links">
        <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
        <% end %>
      </p>        
    </div>
!-->
  </div>
</div>
</div>
