<div class="navbar-header navbar-top-links">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag("vimsen_logo_small.png") %></a>
        <a class="navbar-brand" href="/">VIMSEN - Virtual Microgrids for Smart Energy Networks</a>
      </div>

      <ul class="list-inline navbar-nav navbar-right header-links navbar-top-links ">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
             <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i> 
          </a>
          <ul class="dropdown-menu dropdown-user">
            <% if user_signed_in? %>
            <li>
              Logged in as <strong><%= current_user.email %></strong>
            </li>
            <li>
              <%= link_to user_path(current_user) do %>
              <i class="fa fa-user fa-fw"></i> User profile
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
              <i class="fa fa-gear fa-fw"></i>Settings
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out fa-fw"></i>Logout
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Help</a>
            </li>
            <% else %>
            <li>
              <i class="fa fa-sign-up fa-fw"></i><%= link_to "Sign up", new_user_registration_path %>
            </li>
            <li>
              <i class="fa fa-sign-up fa-fw"></i><%= link_to "Login", new_user_session_path %>
            </li>
            <% end %>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i> </a>
          <ul class="dropdown-menu dropdown-messages">
            <li>
              <a href="#">
              <div>
                <strong>John Smith</strong>
                <span class="pull-right text-muted"> <em>Yesterday</em> </span>
              </div>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
              </div> </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
              <div>
                <strong>John Smith</strong>
                <span class="pull-right text-muted"> <em>Yesterday</em> </span>
              </div>
              <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
              </div> </a>
            </li>
          </ul>
          <!-- /.dropdown-messages -->
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i> </a>
          <ul class="dropdown-menu dropdown-alerts">
            <li>
              <a href="#">
              <div>
                <i class="fa fa-comment fa-fw"></i> New Comment <span class="pull-right text-muted small">4 minutes ago</span>
              </div> </a>
            </li>

            <li class="divider"></li>
            <li>
              <a href="#">
              <div>
                <i class="fa fa-tasks fa-fw"></i> New Task <span class="pull-right text-muted small">4 minutes ago</span>
              </div> </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
              <div>
                <i class="fa fa-upload fa-fw"></i> Server Rebooted <span class="pull-right text-muted small">4 minutes ago</span>
              </div> </a>
            </li>
          </ul>
          <!-- /.dropdown-alerts -->
        </li>
        
      </ul>
