<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t('application.name') %> - Dashboard</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dashboard" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script> -->
  </head>
  <body>
    <div id="wrapper">

	    <!-- Start Header Section -->
   			<%= render "layouts/header" %>
   		<!-- End Header Section -->
			
		<!-- Start Navigation Section -->
			<%= render "layouts/navigation" %>
		<!-- End Navigation Section -->

		<!-- Start Main Content Section -->
        	<div id="page-wrapper">
        		<%= render "layouts/content" %>
        	</div> <!-- /#page-wrapper -->

		<!-- End Main Content Section -->

    </div> <!-- /#wrapper -->
  </body>
</html>