<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (yield(:title) + " - " unless yield(:title).blank?).to_s + t('application.name')%> - Dashboard </title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dashboard" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!--<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry&amp;key=AIzaSyASTr1Y4OdI6ftYa7-2Tg8eLnBummONONk" type="text/javascript"></script>-->

    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script> -->
  </head>
  <body>
    <div id="wrapper">

	    <!-- Start Header Section -->
   			<%= render "layouts/header" %>
   		<!-- End Header Section -->
			
		<!-- Start Navigation Section -->
			<%= render "layouts/navigation" %>
		<!-- End Navigation Section -->

		<!-- Start Main Content Section -->
        	<div id="page-wrapper">
        		<%= render "layouts/content" %>
        	</div> <!-- /#page-wrapper -->

		<!-- End Main Content Section -->

    </div> <!-- /#wrapper -->
  </body>
</html>
