<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t('application.name') %> - Dashboard</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dashboard" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <%= render 'layouts/header' %>
      <%= render 'layouts/navigation' %>
    </nav>

    <div id="page-wrapper">
      <div class="row">
        <%#= render 'layouts/navigation' %>
        <%= render 'layouts/content' %>
      </div>
    </div>
    <!-- end main part -->

  </body>
</html>